.app {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.app__main {
  display: flex;
  flex: 1;
  height: 100vh;
  background-image: url(../images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-blue-underline {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  color: #7297ff;
  text-decoration: underline;

  cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width: 561px) {
  .app {
    flex-direction: column;
  }
  .app__main {
    min-height: 72px;
  }
}
